/* Variables globales */
:root {
    --color-borde: #ccc;
    --color-boton: #000000;
    --color-hover: #13cfec;
    --color-texto-blanco: #ffffff;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

/* Inputs y botones (reglas agrupadas) */
.input-base {
    padding: 0.75rem;
    border-radius: 0.3rem;
    border: 1px solid var(--color-borde);
}

/* Botón */
.button-base {
    padding: 0.75rem;
    border-radius: 0.3rem;
    background-color: var(--color-boton);
    color: var(--color-texto-blanco);
    font-weight: bold;
    cursor: pointer;
    border: none;
}

/* Hover */
.button-base:hover {
    background-color: var(--color-hover);
}