/* Contacto y Botones */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #000000;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #13cfec;
}