/* Variables globales */
:root {
    --color-borde: #ccc;
    --color-boton: #000000;
    --color-hover: #13cfec;
    --color-texto-blanco: #ffffff;
}

/* Formulario */
form {
    display: flex; 
    /* Usa flexbox */

    flex-direction: column; 
    /* Coloca los elementos en vertical */

    gap: 0.6rem; 
    /* Espacio entre inputs y botón */
}

/* Inputs y botones (reglas agrupadas) */
.input-base {
    padding: 0.75rem; 
    /* Espacio interno */

    border-radius: 0.3rem; 
    /* Bordes ligeramente redondeados */

    border: 1px solid var(--color-borde); 
    /* Borde con variable global */
}

/* Botón */
.button-base {
    padding: 0.75rem; 
    /* Espacio interno */

    border-radius: 0.3rem; 
    /* Bordes redondeados */

    background-color: var(--color-boton); 
    /* Color de fondo */

    color: var(--color-texto-blanco); 
    /* Color del texto */

    font-weight: bold; 
    /* Texto en negrita */

    cursor: pointer; 
    /* Cursor tipo botón */

    border: none; 
    /* Sin borde */
}

/* Hover */
.button-base:hover {
    background-color: var(--color-hover); 
    /* Cambia de color al pasar el mouse */
}

/* AREA DE COMENTARIOS */
#form-contacto textarea {
    width: 100%; 
    /* Ocupa todo el ancho */

    padding: 10px; 
    /* Espacio interno */

    margin-top: 10px;
    margin-bottom: 10px;
    /* Separación vertical */

    resize: vertical; 
    /* Permite cambiar altura pero no ancho */
}