/* Variables globales */
:root {
    --color-header: #000000;
    /* Color del encabezado */

    --color-texto-blanco: #ffffff;
    /* Blanco para textos o fondos */

    --color-link: #ebe8e8;
    /* Color de los enlaces */

    --color-hover: #13cfec;
    /* Color al pasar el mouse */

    --color-card: #e6e5e5cb;
    /* Fondo de tarjetas (con transparencia) */

    --color-fondo: #f4f4f4;
    /* Fondo general de la página */

    --color-texto: #333;
    /* Color principal del texto */

    --color-borde: #ccc;
    /* Color de bordes */

    --color-boton: #000000;
    /* Color de botones */

    --fuente-principal: Arial, sans-serif;
    /* Fuente principal del sitio */
}

/* Base */
html {
    font-size: 16px;
    /* Tamaño base → 1rem = 16px */
}

body {
    font-family: var(--fuente-principal);
    /* Aplica la fuente global */

    margin: 0;
    padding: 0;
    /* Elimina espacios por defecto del navegador */

    background-color: var(--color-fondo);
    /* Color de fondo general */

    color: var(--color-texto);
    /* Color del texto */
}