/* GRID DE PROYECTOS Y MASCOTAS */
.grid-proyectos,
.galeria-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

/* Evita que las cards se rompan */
.grid-proyectos article,
.galeria-grid article {
    width: 100%;
    box-sizing: border-box;
}