/* ===== HEADER ===== */
header {
    background-color: #000000;
    color: #ffffff;
    padding: 0.9rem 2.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 1000; /* 🔥 para que el menú quede encima */
}

/* ===== MENÚ DESKTOP ===== */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 1.2rem;
}

nav a {
    color: var(--color-link);
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--color-hover);
}

/* ===== HAMBURGUESA ===== */
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* Checkbox oculto */
#menu-toggle {
    display: none;
}