/* Icono Whatsapp */
.whatsapp-icon {
    position: fixed; 
    /* Hace que el icono se quede fijo en la pantalla aunque hagas scroll */

    bottom: 3rem; 
    right: 3rem; 
    /* Lo posiciona en la esquina inferior derecha */

    /*Tamaño de logo*/
    font-size: 1.5rem;

    background-color: #40ea02; 
    /* Color de fondo (usa una variable CSS que definiste) */

    padding: 1rem; 
    /* Espacio interno alrededor del icono */

    border-radius: 50%; 
    /* Lo hace completamente redondo */

    box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.3); 
    /* Sombra para darle efecto flotante */

    z-index: 100; 
    /* Asegura que esté por encima de otros elementos */

    transition: transform 0.3s ease; 
    /* Animación suave cuando cambia de tamaño */
}


/* Efecto al pasar el mouse */
.whatsapp-icon:hover {
    transform: scale(1.1); 
    /* Hace que el botón crezca un poco al pasar el cursor */
}