/* ===== TABLET ===== */
@media (max-width: 1024px) {
    .grid-proyectos,
    .galeria-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {

    /* Mostrar hamburguesa */
    .menu-icon {
        display: block;
    }

    /* Menú desplegable */
    nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: black;
        z-index: 999;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 10px 0;
    }

    nav ul li {
        padding: 10px 0;
    }

    /* Activar menú */
    #menu-toggle:checked ~ nav ul {
        display: flex;
    }

    /* Grid en móvil */
    .grid-proyectos,
    .galeria-grid {
        grid-template-columns: 1fr;
    }
}