/* Secciones */
section {
    padding: 1.2rem;
    margin: 1.2rem;
    background-color: var(--color-texto-blanco);
    border-radius: 0.6rem;
    box-shadow: 0 0.2rem 0.3rem rgba(0,0,0,0.1);
}

#sobre-mi::after {
    content: "";
    display: table;
    clear: both;
}