/* Icono Whatsapp */
.whatsapp-icon {
    position: fixed; 
    /* Hace que el icono se quede fijo en la pantalla aunque hagas scroll */

    bottom: 1.2rem; 
    right: 1.2rem; 
    /* Lo posiciona en la esquina inferior derecha */

    background-color: var(--color-texto-blanco); 
    /* Color de fondo (usa una variable CSS que definiste) */

    padding: 0.75rem; 
    /* Espacio interno alrededor del icono */

    border-radius: 50%; 
    /* Lo hace completamente redondo */

    box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.3); 
    /* Sombra para darle efecto flotante */

    z-index: 100; 
    /* Asegura que esté por encima de otros elementos */

    transition: transform 0.3s ease; 
    /* Animación suave cuando cambia de tamaño */
}

/* Imagen dentro del botón */
.whatsapp-icon img {
    width: 1.9rem; /* Tamaño del logo */
    height: 1.9rem;

    display: block; 
    /* Evita espacios raros debajo de la imagen */

    box-shadow: none; 
    /* Evita sombras adicionales en la imagen */
}

/* Efecto al pasar el mouse */
.whatsapp-icon:hover {
    transform: scale(1.1); 
    /* Hace que el botón crezca un poco al pasar el cursor */
}