/* Icono Whatsapp */
.whatsapp-icon {
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;
    background-color: var(--color-texto-blanco);
    padding: 0.75rem;
    border-radius: 50%;
    box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.3);
    z-index: 100;
    transition: transform 0.3s ease;
}

.whatsapp-icon img {
    width: 1.9rem; /* Tamaño logo */
    height: 1.9rem;
    display: block;
    box-shadow: none; /* Evita sombras extrañas en el icono */
}

.whatsapp-icon:hover {
    transform: scale(1.1);
}